/* MOBILE FIRST */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* SPECIFIC */
/* ONLY Extra Small devices (767px and down) */
/* ONLY Small devices (between 768px and 991) */
/* ONLY Medium devices (between 992 and 1199) */
/* ONLY Medium devices (1200 and up) */
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute; }
  .menu__header {
    width: 100%;
    height: 100px; }
    .menu__header_color {
      background: #8F1C2C; }
  .menu__body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%; }
  .menu__nav-bar {
    display: block;
    width: 100px; }
    @media (min-width: 992px) {
      .menu__nav-bar {
        width: 400px; } }
    .menu__nav-bar_color {
      background: #DB2A2F; }
  .menu__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media (min-width: 992px) {
      .menu__content {
        flex-direction: row; } }
    .menu__content_color {
      background: #FFF; }
